/venv/
/__pycache__/
/model/
sub_enhanced_dataset_th_100.txt
sub_enhanced_dataset_th_100.txt.zip
full_dataset_with_all_features.txt
sap_patch_dataset.csv
info_sap_patch_dataset.csv.json
/features/
/probs/
/imgs/
/cve/
.vscode/
/github_issues/
__MACOSX/github_issues/._.DS_Store
github_issues.zip
issue_to_code_terms.dict
issue_to_text_terms.dict
tf_issue_linker_corpus_score.dict
tf_issue_linker_feature_names.pickle
tf_issue_linker_tf_idf_maxtrix.pickle
tf_issue_linker_tf_idf_vectorizer.pickle
tf_issue_linker_vectorizer.pickle
message_explainer.py
message_explanation.html
message_explanation.json
issue_explainer.py
issue_explanation.html
issue_explanation.json
